$dark-blue: #353541;
$light-grey: #b8b8bd;
$salmon-pink: #fb6470;
$cool-aqua: #32bec7;
$social-grey: #bcc9ce;

$color-dark-bg: $dark-blue;
$color-separator: $salmon-pink;

$color-button-primary: $salmon-pink;
$color-button-secondary: $cool-aqua;

$color-light-icon: $social-grey;