.education-section {
  background: #f4f1f4;
  text-align: center;
  padding: 2.8rem 0;
  margin-bottom: 135px;

  h2 {
    margin-bottom: 10px;
    @include push--auto;
  }

  .separator-small {
    margin-bottom: 20px;
  }

  .education-blurb {
    max-width: 460px;
    @include push--auto;
    margin-bottom: 50px;
    font-weight: 600;
    color: #a6a4a6;
  }
  @media screen and (min-width:$tablet-vp){
    h2 {
      color: #3e3e3e;
      font-weight: 700;
    }
    .separator-small {
      display:none;
    }
  }
}

.education-card-layout {
  @media screen and (min-width:$tablet-vp){
    @include push--auto;
    max-width: 700px;
  }
  @media screen and (min-width:$desktop-vp){
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.education-card {
  @include push--auto;
  background: #353541;
  max-width: 480px;
  border-radius: 8px;
  color: #ffffff;
  text-align: left;
  padding: 1.5rem 1.5rem;
  margin-bottom: 40px;
  flex-basis: 50%;

  h5 {
    margin-bottom: 5px;
  }

  .education-date {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: $color-accent-muted;
    margin-bottom: 10px;
  }

  a {
    color: $color-link-dk;
    &:hover {
      color: $color-link-dk-hover;
      text-decoration: none;
    }
  }

  .education-program,
  .education-school-name {
    color: $color-subheading-dk;
  }
  .education-program {margin-bottom: 0;}
  .education-description {margin-bottom: 0;}
  
  @media screen and (min-width:$tablet-vp){
    margin-bottom: 20px;

    max-width: 335px;
    h5 {
      font-size: 1rem;
    }
    .education-date {
      font-size: .81rem;
      max-width: 650px;
      margin-bottom: 8px;
    }

    .education-location {
      a {
        font-size: .625rem;
      }
      font-size: .75rem;
    }

    .education-description {
      font-size: .75rem;
    }

    .education-school-name {
      margin-bottom: 10px;
    }
      &:nth-child(odd){
        margin-right: 0;
      }

      &:nth-child(even){
        margin-left: 0;
      }
    }
    @media screen and (min-width:$desktop-vp){
      max-width: 500px;
      justify-content: space-between;
      margin-left: 0;
      margin-right: 0;
      h5 {
        font-size: 1.3rem;
      }
      .education-date {
        font-size: 1rem;
      }

      .education-location {
        a {
          font-size: .9rem;
        }
        .education-program {
          font-size: 1rem;
        }

        .education-school-name{
          font-size: 1.1rem;
        }
      }
      .education-description {
        font-size: .9rem;
      }
    }
  }