.social-media-section {
  @include push--auto;
  max-width: 480px;
  text-align: center;

  h2 {
    padding-bottom: 18px;
  }

  .separator-small {
    margin-bottom: 1.7rem;
  }

  p {
    @include push--auto;
    max-width: 48ch;
  }

  svg {
    width: 65px;
    fill: currentColor;
  }

  a {
    color: $color-light-icon;
    transition: 0.2s ease-in-out;

    &:hover{
      text-decoration: none;
      transition: 0.3s ease-in-out;
      color: black;
      fill: black;
    }
  }
}

.social-media-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 

  li {
    flex-basis: 33%;
  }
}